<html>
<body>
    <title> Welcome to our blog  </title> 
    <div>
    <h1> This is my first blog</h1>
        <p><br><em>I made this using the Django framework </em></br></p>
        <p><img src="https://static.teamguru.com/data/images/thumb/180_da8e22ef6e.jpg"></p>
        
    </div>
   <div>
    <p>To know more about django framework, click here <a href="https://docs.djangoproject.com/en/3.0/intro/overview/" target="blank">djangoproject.com</a></p>
   
    </div>   
   <div>
       <h2>The pre-requisites required for learning this are:</h2>
       <ul>
           <li>Python programming</li>
           <li>HTML</li>
           <li>Git and command line knowledge</li>
       </ul>
   </div>
    </body>
        </html>